.faq{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.faq .pagina__titulo{
    text-align: center;
}

.faq__perguntas{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.faq__perguntas__card{
    width: 27rem;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    padding: 3rem 1.5rem;
    gap: 2rem;
}

.faq__perguntas__card__pergunta{
    width: 100%;
    border-bottom: .15rem solid var(--cor-branco);
    font-family: "Quantico", sans-serif;
    font-size: 2rem;
    text-align: center;

    padding-bottom: 3rem;
    cursor: pointer;
    
}
.faq__perguntas__card__pergunta.inativo{
    border: none;
    padding-bottom: 0rem;
}

.faq__perguntas__card__resposta{
    display: block;
    font-family: "Questrial", sans-serif;
    font-size: 1.6rem;

    line-height: 150%;
    text-align: center;
}

.faq__perguntas__card__resposta.inativo{
    display: none;
}

@media (min-width: 768px){

    .faq__perguntas__card__pergunta.inativo{
        border-bottom: .15rem solid var(--cor-branco);
        padding-bottom: 3rem;
    }

    .faq__perguntas__card__resposta.inativo{
        display: block;
    }

    .faq__perguntas{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        gap: 5rem;
        padding: 0px 8rem;
    }

    .faq__perguntas__card{
        width: 20rem;
        height: 26.5rem;
        padding: 2rem 1rem;
        justify-content: start;
        gap: 2rem;
    }
    .faq__perguntas__card__pergunta{
        width: 100%;
        font-size: 1.4rem;
        height: 6rem;
    }
    
    .faq__perguntas__card__resposta{
        width: 100%;
        font-size: 1rem;
    }
}