@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box; 
}



:root {
    --cor-roxo: #969BFF; 
    --cor-verde: #A2FF96;
    --cor-branco: #FFFFFF; 
    --cor-preto: #06060d;
    --cor-transparente: #9499ff67;
    --grad-linear-horizontal-roxo: linear-gradient(to right, #3339A436, #13131436);
    --grad-linear-vertical-roxo: linear-gradient(to top, #3339A436, #13131436); 
    --grad-radial-roxo: radial-gradient(#16293D, #0B151F, #000000);
    --grad-linear-vertical-verde: linear-gradient(to top, #4C7D3536, #13131436);
}

body {
    background: var(--grad-radial-roxo);
}

.pagina__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 3rem; 
    font-weight: bold;
    color: var(--cor-branco)

}

.pagina__titulo--destaque {
    color: var(--cor-roxo)
}

.pagina__setinha {
    width: 0.5rem;
}


.pagina__texto, 
.inicio__apresentacao__conteudo__botao
 {
    font-family: "Questrial", sans-serif; 
    font-size: 1rem;
    color: var(--cor-branco)
}

.pagina__subtitulo {
    font-family: "Quantico", sans-serif; 
    font-size: 2.1rem; 
    font-weight: bold;
    color: var(--cor-branco);
}
/* Header */
.header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: start; 
    padding: 2.3rem; /*tamanho descktop*/ 
}

.header__logo {
    max-width: 12.5rem; /*tamanho mobile*/ 
}

.header__menu,
.footer__menu
 {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;  
    align-items: center;
    min-width: 48.5rem;
    min-height: 2.3rem; /*tamanho descktop*/ 

}

.header__menu__link,
.footer__menu__link 
{
    text-decoration: none;
    color: var(--cor-branco);
    font-family: "Quantico", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.header__menu__link--destaque,
.footer__menu__link--destaque
{
    color: var(--cor-roxo)
}

/* Footer */ 

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem; /*tamanho descktop*/
    padding: 2rem;
}


.footer__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem; /*tamanho descktop*/
    color: var(--cor-branco)
}


/* Index */ 
.inicio__apresentacao__conteudo__botao {
    border: 0.15rem solid var(--cor-roxo);
    background: none; 

}

.caixa, 
.caixa--degrade
 {
    border: 0.15rem solid var(--cor-roxo);
    background: none; 
    border-radius: 0.6rem;

}

.caixa--degrade {
    background: var(--grad-linear-vertical-roxo);
}

.inicio__descubra__conteudo__caixa {
    width: 23rem;
}

.inicio__pilares__conteudo__caixa {
    width: 26rem;
}

.inicio__descubra__conteudo__caixa__imagem {
    width: 6rem;
}

.inicio__descubra__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif; 
    font-size: 1.5rem; 
    color: var(--cor-branco);
}

.inicio__pilares__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    color: var(--cor-branco);
    font-weight: bold;


}

.inicio__pilares__conteudo__caixa__imagem {
    width: 4.7rem;
}

.inicio__pilares__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem; 
    color: var(--cor-branco);

}

.inicio__apresentacao__conteudo__botao {
    width: 9rem;
    height: 3.2rem;
}

.inicio__apresentacao__conteudo__botao--destaque {
    background: var(--grad-linear-horizontal-roxo);
}

.inicio__apresentacao__imagem {
    width: 15rem;
}

.inicio__video {
    width: 25rem;
}

/* Sobre */

.sobre__apresentacao__imagem {
    width: 15rem;
}

.sobre__visao__texto {
    font-family: "Questrial", sans-serif;
    color: var(--cor-branco);
    font-size: 1.5rem;
}

.sobre__missao__conteudo {
    width: 28rem;
}

.sobre__missao__conteudo__texto {
    font-family: "Questrial", sans-serif;
    color: var(--cor-branco);
    font-size: 1rem;
}

.sobre__missao__conteudo__imagem {
    width: 25rem;
}

.sobre__principios__conteudo__caixa {
    width: 23rem;
}

.sobre__principios__conteudo__caixa__imagem {
    width: 5.7rem;
}

.sobre__principios__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 2.3rem;
    color: var(--cor-branco);
}

.sobre__principios__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1.4rem;
    color: var(--cor-branco);
}

.sobre__final {
    width: 24rem;
}

.sobre__final__texto {
    font-family: "Quantico", sans-serif;
    color: var(--cor-branco);
    font-size: 1.2rem;
}

.sobre__final__botao {
    font-family: "Quantico", sans-serif;
    color: var(--cor-branco);
    font-size: 1rem;
}

/* Score */

.score__apresentacao__imagem {
    width: 18rem;
}

.score__tipos__reputacao {
    width: 27rem;
}

.score__tipos__reputacao__texto,
.score__tipos__sustentabilidade__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    color: var(--cor-branco);
}

.score__tipos__reputacao__conteudo__caixa {
    width: 5rem;
}

.score__tipos__reputacao__conteudo__caixa__imagem,
.score__tipos__sustentabilidade__conteudo__caixa__imagem
{
    width: 3.5rem;
}

.score__tipos__reputacao__conteudo__caixa__titulo,
.score__tipos__sustentabilidade__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 0.6rem;
    color: var(--cor-branco);
}

.score__tipos__reputacao__conteudo__caixa__texto,
.score__tipos__sustentabilidade__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 0.5rem;
    color: var(--cor-branco);
}

.score__tipos__sustentabilidade__conteudo__caixa {
    border: 0.15rem solid var(--cor-verde);
    background: var(--grad-linear-vertical-verde);
    border-radius: 0.6rem;
    width: 5rem;
}

.score__tipos__sustentabilidade {
    border: 0.15rem solid var(--cor-verde);
    background: var(--grad-linear-vertical-verde);
    border-radius: 0.6rem;
    width: 27rem;
}

.sustentabilidade__destaque {
    color: var(--cor-verde);
}

/* Tabela Score - Desktop first */

.score__ranking__tabela {
    border-collapse: collapse;
    width: 80rem;
}

.score__ranking__tabela__head {
    background-color: var(--cor-preto);
    border-top: 0.15rem solid var(--cor-roxo);
    border-bottom: 0.15rem solid var(--cor-roxo);
}

.score__ranking__tabela__body__linha {
    border-top: 0.15rem solid var(--cor-transparente);
}

.score__ranking__tabela__head__linha__item {
    font-family: "Quantico", sans-serif;
    color: var(--cor-branco);
    font-size: 2.25rem;
}

.score__ranking__tabela__body__posicao.pagina__titulo--destaque {
    color: var(--cor-roxo);
}

.score__ranking__tabela__body__posicao {
    font-family: "Quantico", sans-serif;
    font-size: 4rem;
    color: var(--cor-branco);
    font-weight: bold;
}

.score__ranking__tabela__body__empresa {    
    color: var(--cor-branco);
}

.score__ranking__tabela__body__empresa__logo {
    width: 3.4rem;
}

.score__ranking__tabela__body__reputacao,
.score__ranking__tabela__body__sustentabilidade,
.score__ranking__tabela__body__status,
.score__ranking__tabela__body__empresa 
{
    font-size: 2rem;
    font-family: "Questrial", sans-serif;
}

.score__ranking__tabela__body__reputacao {
    color: var(--cor-roxo);
}

.score__ranking__tabela__body__sustentabilidade {
    color: var(--cor-verde);
}

.score__ranking__tabela__body__status {
    color: var(--cor-branco);
}