@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

/* reset */

*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

/* varáveis */

:root {
    --cor-roxo: #969BFF; 
    --cor-verde: #A2FF96;
    --cor-branco: #FFFFFF; 
    --cor-preto: #06060d;
    --cor-transparente: #9499ff67;
    --cor-transparente-preta: #06060db7;
    --grad-linear-horizontal-roxo: linear-gradient(to right, #3339A436, #13131436);
    --grad-linear-vertical-roxo: linear-gradient(to top, #3339A436, #13131436); 
    --grad-radial-roxo: radial-gradient(#16293D, #0B151F, #000000);
    --grad-linear-vertical-verde: linear-gradient(to top, #4C7D3536, #13131436);
}


/* classes globais */

body {
    background: var(--grad-radial-roxo);
}

html { /* responsividade do REM (mobile) */
  font-size: 3.3vw
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 6rem;
}

.linha-horizontal {
    border: none;
    border-top: 2px solid var(--cor-branco); 
    width: 80%;

    margin-top: -2rem;
}

.pagina__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 3rem; 
    font-weight: bold;
    color: var(--cor-branco);

    margin-bottom: 1.6rem;

    line-height: 120%;
}

.pagina__titulo--destaque {
    color: var(--cor-roxo);
}

.pagina__setinha {
    width: 0.5rem;
}

.pagina__texto{
    font-family: "Questrial", sans-serif; 
    font-size: 1rem;
    color: var(--cor-branco);
    margin-top: 1rem;

    line-height: 130%;
}

.pagina__subtitulo {
    font-family: "Quantico", sans-serif; 
    font-size: 2.1rem; 
    font-weight: bold;
    color: var(--cor-branco);

    margin-bottom: 1.8rem;

    text-align: center;
}

.pagina__subtitulo.pagina__titulo--destaque {
    color: var(--cor-roxo);
}

.caixa, 
.caixa--degrade
 {
    display: flex;

    border: 0.15rem solid var(--cor-roxo);
    background: none; 
    border-radius: 0.6rem;
}

.caixa--degrade {
    background: var(--grad-linear-vertical-roxo);
}

/* responsividade */

@media (min-width: 768px) { 

    html {
        font-size: max(8px, 1.16vw);
    }

    .pagina__titulo {
        font-size: 4.5rem;
    }

    .pagina__setinha {
        width: 0.6rem;
    }

    .pagina__texto {
        font-size: 1.5rem;

    }

    .pagina__subtitulo {
        font-size: 3.2rem;

    }
}


/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: var(--grad-linear-vertical-roxo);

}

.header__button{
    margin-right: 2.24rem;
    margin-top: 2.6rem;

    background: none;
    border: none;
    height: 2.1rem;
    width: 2.46rem;
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: stretch;
    gap: .6rem;
    
}

.header__button__linha{
    background-color: var(--cor-branco);
    border-radius: 1rem;
    height: .34rem;
    
}

.header__logo {
    width: 100%;
    max-width: 12.5rem; /*tamanho mobile*/ 
}

.header__menu.inativo,
.footer__menu
 {
    display: none; 

}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--cor-transparente-preta);
}

.header__menu__link{

    text-decoration: none;
    color: var(--cor-branco);
    font-family: "Quantico", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    

}

/* Footer */ 

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem; /*tamanho descktop*/
    padding: 2rem;
}


.footer__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem; /*tamanho descktop*/
    color: var(--cor-branco)
}

/*Responsividade: Header & footer*/
@media(min-width: 768px){
    main {
        padding-top: 0;
    }

    .header {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        padding: 2.3rem;

        position: relative;
        background: #00000000; 
    }

    .header__logo {
        margin-top: -2rem;
        max-width: 18.1rem;
    }

    .header__button{
        display: none;
    }


    .header__menu {
        position: static;

        width: auto;
        height: auto;

        background: transparent;

        flex-direction: row;
        gap: 0;
    }

    .header__menu,
    .footer__menu{
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;  
        align-items: center;
        min-width: 48.5rem;
        min-height: 2.3rem; /*tamanho descktop*/ 
    }

    .header__menu__link,
    .footer__menu__link 
    {
        text-decoration: none;
        color: var(--cor-branco);
        font-family: "Quantico", sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .header__menu__link--destaque,
    .footer__menu__link--destaque
    {
        color: var(--cor-roxo)
    }

    .header__menu__link:hover,
    .footer__menu__link:hover {
        transform: scale(1.05);
        opacity: .7;
    }

    .footer {
        margin-top: 5rem;
    }

}

/* Index */ 

/* inicio */

.inicio {
    gap: 5rem;
}

.inicio__apresentacao {
    display: grid;
    padding: 1.8rem;
    row-gap: 2.7rem;

}

.inicio__apresentacao__conteudo {
    grid-column: 1/3;
}

.inicio__apresentacao__botoes {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inicio__apresentacao__botoes__botao {
    border: 0.15rem solid var(--cor-roxo);
    background: none; 
    font-family: "Quantico", sans-serif; 
    font-weight: bold;
    font-size: 1rem;
    color: var(--cor-branco);
    width: 9rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    text-decoration: none;
}

.inicio__apresentacao__botoes__botao--destaque {
    background: var(--grad-linear-horizontal-roxo);
}

.inicio__apresentacao__botoes__botao:hover {
    background-color: var(--cor-roxo);
    transform: scale(1.05);
}

.inicio__apresentacao__imagem {
    width: 15rem;
    height: 15rem;

    margin-top: -5rem;

    grid-column: 2/3;
    grid-row: 2/3;
}

.inicio__video {
    width: 25rem;
}

/* descubra */

.inicio__descubra {
    display: flex;
    flex-direction: column;
}

.inicio__descubra__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.inicio__descubra__conteudo__caixa {
    width: 23rem;
    padding: 1.9rem 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.inicio__descubra__conteudo__caixa__imagem {
    width: 6rem;
}

.inicio__descubra__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif; 
    font-size: 1.5rem; 
    color: var(--cor-branco);
}

/* pilares */

.inicio__pilares {
    display: flex;
    flex-direction: column;
}

.inicio__pilares__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.inicio__pilares__conteudo__caixa {
    width: 26rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 1.9rem 2.4rem;
    gap: 1.1rem;
}

.inicio__pilares__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    color: var(--cor-branco);
    font-weight: bold;
}

.inicio__pilares__conteudo__caixa__imagem {
    width: 4.7rem;
}

.inicio__pilares__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem; 
    color: var(--cor-branco);

}

/* responsividade */

@media (min-width: 768px) {

    /*inicio*/

    .inicio__apresentacao {
        max-width: 76.8rem;
    }

    .inicio__apresentacao__conteudo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .inicio__apresentacao__botoes {
        grid-column: 1/2;
        grid-row: 2/3;
        flex-direction: row;
    }

    .inicio__apresentacao__botoes__botao {
        width: 16.5rem;
        height: 4.6rem;

        font-size: 1.7rem;
    }

    .inicio__apresentacao__imagem {
        grid-column: 2/3;
        grid-row: 1/3;

        margin-top: 0;
        width: 34.5rem;
        height: 34.5rem;
    }

    /* video */

    .inicio__video {
        width: 58rem;
    }

    /* descubra */

    .inicio__descubra__conteudo {
        flex-direction: row;
        gap: 0.9rem;
    }

    .inicio__descubra__conteudo__caixa {
        width: 16rem;
        padding: 1.25rem 2rem;
    }

    .inicio__descubra__conteudo__caixa__imagem {
        width: 4rem;
    }

    .inicio__descubra__conteudo__caixa__texto {
        font-size: 1rem;
    }

    /* pilares */
    .inicio__pilares__conteudo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inicio__pilares__conteudo__caixa {
        width: 31.6rem;
        padding: 2.4rem 3rem;
    }

    .inicio__pilares__conteudo__caixa__imagem {
        width: 5.7rem;
    }

    .inicio__pilares__conteudo__caixa__titulo {
        font-size: 1.75rem;
    }

    .inicio__pilares__conteudo__caixa__texto {
        font-size: 1.1rem;
    }
}




/* Sobre */

.sobre {
    gap: 6rem;
}

.sobre__apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem;
}

.sobre__apresentacao__imagem {
    width: 15rem;
}

.sobre__visao {
    margin-top: -8rem;
}

.sobre__visao__texto {
    text-align: center;
    max-width: 26rem;
    font-family: "Questrial", sans-serif;
    color: var(--cor-branco);
    font-size: 1.2rem;
}

.sobre__missao__conteudo {
    width: 28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1.7rem;
    padding: 1.5rem;
}

.sobre__missao__conteudo__texto {
    font-family: "Questrial", sans-serif;
    color: var(--cor-branco);
    font-size: 1rem;

    max-width: 17rem;
}

.sobre__missao__conteudo__imagem {
    width: 25rem;
}

.sobre__principios__conteudo {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.sobre__principios__conteudo__caixa {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 3rem 1.1rem;
    gap: 0.8rem;

    width: 23rem;
}

.sobre__principios__conteudo__caixa__imagem {
    width: 5.7rem;
}

.sobre__principios__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 2.3rem;
    color: var(--cor-branco);
}

.sobre__principios__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1.4rem;
    color: var(--cor-branco);
}

.sobre__final {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.6rem 0.5rem;
    gap: 1rem;
}

.sobre__final__texto {
    font-family: "Quantico", sans-serif;
    color: var(--cor-branco);
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.sobre__final__botao {
    font-family: "Quantico", sans-serif;
    color: var(--cor-branco);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    width: 15rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sobre__final__botao:hover {
    background-color: var(--cor-roxo);
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .sobre__apresentacao {
        flex-direction: row;
        max-width: 80rem;
    }

    .sobre__apresentacao__imagem {
        width: 37rem;
    }

    .sobre__visao {
        margin-top: -5rem;
    }

    .sobre__visao__texto {
        font-size: 1.8rem;
        max-width: 46rem;
    }

    .sobre__missao__conteudo {
        width: 74rem;
        padding: 2.5rem 6.5rem;
    }

    .sobre__missao__conteudo__imagem {
        width: 60.8rem;
    }

    .sobre__missao__conteudo__texto {
        font-size: 1.8rem;
        max-width: 41.5rem;
    }

    .sobre__principios__conteudo {
        flex-direction: row;
        gap: 1.1rem;
    }

    .sobre__principios__conteudo__caixa {
        width: 16rem;
        padding: 2rem 0.7rem;
        gap: 0.7rem;
    }

    .sobre__principios__conteudo__caixa__imagem {
        width: 3.8rem;
    }

    .sobre__principios__conteudo__caixa__titulo {
        font-size: 1.6rem;
    }

    .sobre__principios__conteudo__caixa__texto {
        font-size: 1rem;
    }

    .sobre__final {
        flex-direction: row;
        width: 67rem;
        justify-content: space-between;
        padding: 1.9rem 1.5rem;

    }

    .sobre__final__texto {
        font-size: 1.8rem;
        text-align: left;
    }

    .sobre__final__botao {
        width: 19.7rem;
        height: 4.2rem;
        font-size: 1.3rem;
    }
}



/* Score */

.score {
    gap: 6rem;
}

.score__apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    padding: 1.8rem;
}

.score__apresentacao__imagem {
    width: 18rem;
}

/* score-tipos */

.score__tipos {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.score__tipos__reputacao,
.score__tipos__sustentabilidade {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1.7rem 1.5rem;
    gap: 1.1rem;
}

.score__tipos__reputacao .pagina__subtitulo,
.score__tipos__sustentabilidade .pagina__subtitulo {
    margin-bottom: -1rem;
    text-align: left;
}

.score__tipos__reputacao__texto,
.score__tipos__sustentabilidade__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    color: var(--cor-branco);
    margin-top: 1rem;
    line-height: 120%;
}

.score__tipos__reputacao__conteudo, 
.score__tipos__sustentabilidade__conteudo {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
}

.score__tipos__reputacao__conteudo__caixa,
.score__tipos__sustentabilidade__conteudo__caixa {
    min-width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.6rem;
    gap: 0.9rem;
    text-align: center;
}

.score__tipos__reputacao__conteudo__caixa__imagem,
.score__tipos__sustentabilidade__conteudo__caixa__imagem
{
    width: 3.5rem;
}

.score__tipos__reputacao__conteudo__caixa__titulo,
.score__tipos__sustentabilidade__conteudo__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 0.7rem;
    color: var(--cor-branco);
}

.score__tipos__reputacao__conteudo__caixa__texto,
.score__tipos__sustentabilidade__conteudo__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 0.6rem;
    color: var(--cor-branco);
}

.score__tipos__sustentabilidade__conteudo__caixa {
    border: 0.15rem solid var(--cor-verde);
    background: var(--grad-linear-vertical-verde);
    border-radius: 0.6rem;
}

.score__tipos__sustentabilidade {
    border: 0.15rem solid var(--cor-verde);
    background: var(--grad-linear-vertical-verde);
    border-radius: 0.6rem;
}

.sustentabilidade__destaque {
    color: var(--cor-verde);
}

.score__ranking__tabela {
    display: none;
}

.score__ranking__mobile {
    min-width: 24.6rem;
    display: flex;
    flex-direction: column;
    gap: 6.1rem;
}

.score__ranking__mobile__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3.4rem 1.5rem;
    gap: 3.3rem;
}

.score__ranking__mobile__caixa.inativo{
    padding: 2.5rem 1.5rem;
    gap: 0rem;
}

.score__ranking__mobile__caixa__posicao {
    cursor: pointer;
    font-family: "Quantico", sans-serif;
    font-size: 5.6rem;
    color: var(--cor-roxo);
    font-weight: bold;
}

.score__ranking__mobile__caixa__empresa {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}

.score__ranking__mobile__caixa__empresa__logo {
    width: 5rem;
}

.score__ranking__mobile__caixa__empresa__nome {
    font-family: "Questrial", sans-serif;
    font-size: 2.6rem;
    color: var(--cor-branco);
}

.score__ranking__mobile__caixa__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.7rem;
    border-top: 2px solid var(--cor-branco);
}

.score__ranking__mobile__caixa__conteudo.inativo{
    display: none;
}

.score__ranking__mobile__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 2.6rem;
    color: var(--cor-branco);
    font-weight: bold;
    text-align: center;
}

.score__ranking__mobile__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 2.2rem;
    color: var(--cor-branco);
    width: 18.7rem;
    text-align: center;
}

@media (min-width: 768px) {

    .score__apresentacao {
        max-width: 74rem;
        flex-direction: row;
    }

    .score__apresentacao__imagem {
        width: 29rem;
    }

    .score__tipos {
        flex-direction: row;
    }

    .score__tipos__reputacao,
    .score__tipos__sustentabilidade {
        width: 39rem;
        padding: 2.5rem 2.1rem;
        gap: 1.1rem;
    }

    .score__tipos__reputacao .pagina__subtitulo,
    .score__tipos__sustentabilidade .pagina__subtitulo {
        font-size: 2.5rem;
    }

    .score__tipos__reputacao__texto,
    .score__tipos__sustentabilidade__texto {
        font-size: 1.3rem;
        line-height: 150%;
    }

    .score__tipos__reputacao__conteudo, 
    .score__tipos__sustentabilidade__conteudo {
        gap: 1.5rem;
    }

    .score__tipos__reputacao__conteudo__caixa,
    .score__tipos__sustentabilidade__conteudo__caixa {
        min-width: 8rem;
        
        padding: 0.8rem 0.7rem;
        gap: 0.9rem;
    }

    .score__tipos__reputacao__conteudo__caixa__imagem,
    .score__tipos__sustentabilidade__conteudo__caixa__imagem {
        width: 5.3rem;
    }

    .score__tipos__reputacao__conteudo__caixa__titulo,
    .score__tipos__sustentabilidade__conteudo__caixa__titulo {
        font-size: 1rem;
    }

    .score__tipos__reputacao__conteudo__caixa__texto,
    .score__tipos__sustentabilidade__conteudo__caixa__texto {
        font-size: 0.8rem;
    }

    .score__ranking__mobile {
        display: none;
    }
    
    /* Tabela Score - Desktop first */
    .score__ranking__tabela {
        display: flex; 
        flex-direction: column;
        border-collapse: collapse;
        width: 80rem;
    }

    .score__ranking__tabela__head {
        background-color: var(--cor-preto);
        border-bottom: 0.15rem solid var(--cor-roxo);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        
    }
    .score__ranking__tabela__head__linha{
        display: grid;
        grid-template-columns: repeat(5, 16rem);
        align-items: center;
        justify-items: start;
    }

    .score__ranking__tabela__body__linha {
        border-top: 0.15rem solid var(--cor-transparente);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: start;
    }

    .score__ranking__tabela__head__linha__item {
        font-family: "Quantico", sans-serif;
        color: var(--cor-branco);
        font-size: 2.25rem;
        
    }

    .score__ranking__tabela__body__posicao.pagina__titulo--destaque {
        color: var(--cor-roxo);
    }

    .score__ranking__tabela__body__posicao {
        font-family: "Quantico", sans-serif;
        font-size: 4rem;
        color: var(--cor-branco);
        font-weight: bold;
    }

    .score__ranking__tabela__body__empresa {    
        color: var(--cor-branco);
    }

    .score__ranking__tabela__body__empresa__logo {
        width: 3.4rem;
    }

    .score__ranking__tabela__body__reputacao,
    .score__ranking__tabela__body__sustentabilidade,
    .score__ranking__tabela__body__status,
    .score__ranking__tabela__body__empresa 
    {
        font-size: 2rem;
        font-family: "Questrial", sans-serif;
    }

    .score__ranking__tabela__body__reputacao {
        color: var(--cor-roxo);
    }

    .score__ranking__tabela__body__sustentabilidade {
        color: var(--cor-verde);
    }

    .score__ranking__tabela__body__status {
        color: var(--cor-branco);
    }
}






/*  -=-=-=- Comunidade -=-=-=- */

.comunidade {
    gap: 6rem;
}

.comunidade__apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem;
}

.comunidade__apresentacao__imagem {
    margin-top: 3rem;
    width: 25rem;
}

.comunidade__numeros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comunidade__numeros__area__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
    text-align: center;
    margin-top: 4rem;
}

.comunidade__numeros__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.comunidade__numeros__area__caixa {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem 2.3rem;
}

.comunidade__numeros__area__caixa__numero {
    font-family: "Quantico", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cor-branco);
}

.comunidade__numeros__area__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
}

.comunidade__iniciativas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem
}

.comunidade__iniciativas__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comunidade__iniciativas__texto {
    font-family: "Questrial", sans-serif;
    color: var(--cor-branco);
    font-size: 1.2rem;
    text-align: center;
    width: 25.7rem;
}

.comunidade__iniciativas__area {
    display: flex;
    flex-direction: column;
    gap: 7.6rem;
    text-align: center;
}

.comunidade__iniciativas__iniciativa{
    display: flex;
    flex-direction: column;
    gap: 3.5rem
}

.comunidade__iniciativas__iniciativa__botao {
    font-family: "Questrial", sans-serif;
    font-size: 1.5rem;
    color: var(--cor-branco);
    width: 23rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2.3rem;
}

.comunidade__iniciativas__iniciativa__botao:hover {
    background-color: var(--cor-roxo);
    transform: scale(1.05);
}

.comunidade__iniciativas__iniciativa__botao .pagina__setinha {
    width: 1.5rem;
}

.comunidade__iniciativas__iniciativa__caixa {
    width: 23rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 1.5rem;
    gap: 1.5rem;
}

.comunidade__iniciativas__iniciativa__caixa__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
}

.comunidade__iniciativas__iniciativa__caixa__imagem {
    width: 22rem;
}

.comunidade__iniciativas__iniciativa__caixa__subtitulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    color: var(--cor-roxo);
    margin-bottom: -1rem;
}

.comunidade__iniciativas__iniciativa__caixa__texto {
    font-family: "Questrial", sans-serif;
    font-size: 1.1rem;
    color: var(--cor-branco);
    line-height: 120%;
    text-align: center;
}

.comunidade__iniciativas__iniciativa__caixa__filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.comunidade__iniciativas__iniciativa__caixa__filtros__filtro {
    border: 0.15rem solid var(--cor-roxo);
    border-radius: 5rem;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: "Questrial", sans-serif;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    padding: 0.5rem;
}

.comunidade__iniciativas__iniciativa__caixa__filtros__filtro:hover{
    transform: scale(1.05);
    cursor:default;
}

.filtro--destaque {
    background-color: var(--cor-roxo);
}

.comunidade__iniciativas__iniciativa__caixa__botao {
    font-family: "Quantico", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
    width: 14rem;
    font-weight: bold;

    display: flex;
    justify-content: center;

    padding: 0.9rem 3.1rem;
}

.comunidade__iniciativas__iniciativa__caixa__botao:hover {
    background-color: var(--cor-roxo);
    transform: scale(1.05);
}


/*Modal*/

.comunidade__iniciativas__modal{
    display: flex;
    flex-direction: column;
    background: 
        var(--grad-linear-vertical-roxo),
        var(--cor-preto);
    min-height: 15rem;
    width: 20rem;
    align-self: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comunidade__iniciativas__modal.inativo{
    display: none;
}
.comunidade__iniciativas__modal__formulario{
    width: 90%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.comunidade__iniciativas__formulario__label {
    font-family: "Quantico", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
    font-weight: bold;
}

.comunidade__iniciativas__formulario__input {
    margin-top: 1rem;
    width: 90%;
    font-family: "Questrial", sans-serif;
    color: var(--cor-transparente);
    font-size: 1.3rem;
}
.comunidade__iniciativas__modal__fechar{
    position: relative;
    color: var(--cor-roxo);
    left: 46%;
    font-size: 1.2rem;
    cursor: pointer;
}

.comunidade__iniciativas__formulario__botao {
    width: 10rem;
    font-family: "Quantico", sans-serif;
    font-size: 2.2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--cor-roxo);
    color: var(--cor-branco);
    font-weight: bold;
    margin-bottom: 2rem;
}
.comunidade__iniciativas__modal__status{
    display: block;
    position: fixed;
    bottom: 105%;
    background-color: var(--cor-roxo);
    border-radius: 1rem;

    color: var(--cor-branco);
    font-family: "Quantico", sans-serif;
    font-size: 2.2rem;
    padding: 1rem;
}
.comunidade__iniciativas__modal__status.inativo{
    display: none;
}
@media (min-width: 768px) {

    .comunidade__apresentacao {
        max-width: 52.2rem;
    }

    .comunidade__apresentacao>:nth-child(1),
    .comunidade__apresentacao>:nth-child(2),
    .comunidade__apresentacao>:nth-child(3){
        margin-left: -12.8rem;
    }


    .comunidade__apresentacao__imagem {
        width: 74.5rem;
    }

    .comunidade__numeros__area {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .comunidade__numeros__area__caixa {
        width: 23.4rem;
        padding: 1rem 1.8rem;
    }

    .comunidade__numeros__area__caixa__numero {
            font-size: 5rem;
    }

    .comunidade__numeros__area__caixa__texto {
        font-size: 2rem;
    }

    .comunidade__iniciativas__conteudo{
        align-self: start;
        align-items: start;
        text-align: start;
        
    }

    .comunidade__iniciativas__conteudo
    .comunidade__iniciativas__texto {
        font-size: 1.6rem;
        width: 50rem;
        text-align: left;
    }

    .comunidade__iniciativas__area {
        flex-direction: row;
        gap: 2.75rem;
    }

    .comunidade__iniciativas__iniciativa{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    .comunidade__iniciativas__iniciativa__caixa {
        height: 47rem;
    }

    .comunidade__iniciativas__iniciativa__caixa__titulo {
        font-size: 1.8rem;
        height: 3.9rem;
        margin: 0 -2rem;
    }
    .comunidade__iniciativas__iniciativa__caixa__texto{
        height: 7.24rem;
    }

    /*modal*/
    
    .comunidade__iniciativas__modal{
        min-height: 30rem;
        width: 40rem;
        display: flex;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .comunidade__iniciativas__modal__formulario{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        align-items: center;
    }
    .comunidade__iniciativas__formulario__label {
        font-family: "Quantico", sans-serif;
        font-size: 2.5rem;
        color: var(--cor-branco);
        font-weight: bold;
    }

    .comunidade__iniciativas__formulario__input {
        margin-top: 2rem;
        width: 90%;
        font-family: "Questrial", sans-serif;
        color: var(--cor-transparente);
        padding: .7rem;
        font-size: 2rem;
    }
    .comunidade__iniciativas__modal__fechar{
        position: relative;
        color: var(--cor-roxo);
        left: 45%;
        top: 5%;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .comunidade__iniciativas__formulario__botao {
        width: 20rem;
        font-family: "Quantico", sans-serif;
        font-size: 3rem;
        border: none;
        border-radius: 1rem;
        background-color: var(--cor-roxo);
        color: var(--cor-branco);
        font-weight: bold;

        padding: 1rem;
    }

}






/* -=-=-=- Integrantes -=-=-=- */
.integrantes__imagem__grupo {
    width: 30rem;
}

.integrantes__secao__card {
    width: 24rem;
}

.integrantes__secao__card__titulo {
    font-family: "Quantico", sans-serif;
    font-size: 1.6rem;
    color: var(--cor-roxo);
}

.integrantes__secao__card__imagem {
    width: 21rem;
}

.integrantes__secao__card__rm {
    font-family: "Questrial", sans-serif;
    font-size: 1.3rem;
    color: var(--cor-branco);
}

.integrantes__secao__card__botoes__botao {
    width: 9.7rem;
    height: 1.7rem;
}

.integrantes__secao__card__botoes__botao:hover {
    background-color: var(--cor-transparente);
    transform: scale(1.05);
}

.integrantes__secao__card__botoes__botao__logo {
    width: 1.3rem;
}






/* -=-=-=- Faq -=-=-=- Desktop first */
.faq__perguntas__card {
    width: 18rem;
}

.faq__perguntas__card__pergunta {
    font-family: "Quantico", sans-serif;
    font-size: 1.4rem;
    color: var(--cor-roxo);
}

.faq__perguntas__card__resposta {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    color: var(--cor-branco)
}






/* -=-=-=- Contato -=-=-=- */
.contato__formulario__label {
    font-family: "Quantico", sans-serif;
    font-size: 1.8rem;
    color: var(--cor-branco);
    font-weight: bold;
}

.contato__formulario__input {
    width: 26rem;
    font-family: "Questrial", sans-serif;
    color: var(--cor-transparente);
    font-size: 1.3rem;
}

.contato__formulario__botao {
    width: 10rem;
    font-family: "Quantico", sans-serif;
    font-size: 2.2rem;
    color: var(--cor-branco);
    font-weight: bold;
}

.contato__status {
    font-family: "Questrial", sans-serif;
    font-size: 1.3rem;
    color: var(--cor-transparente);
}




/* modal */

.contato__modal-fundo {
    display: none;

    position: fixed;
    inset: 0;

    justify-content: center;
    align-items: center;

    background: var(--cor-transparente-preta);

    padding: 2rem;

}

.contato__modal-fundo.ativo {
    display: flex;
}

.contato__modal {
    position: relative;

    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    width: 100%;
    max-width: 28rem;

    padding: 2rem;

    text-align: center;
}

.contato__modal__titulo {
    margin-bottom: 0;
}

.contato__modal__texto {
    margin-top: 0;
}

.contato__modal__fechar {
    position: absolute;

    top: 1rem;
    right: 1rem;

    width: 2rem;
    height: 2rem;

    border: none;
    background: none;

    color: var(--cor-branco);

    font-size: 1.2rem;
    cursor: pointer;
}

.contato__modal__fechar:hover {
    color: var(--cor-roxo);
}